/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Empêche sélection du texte */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

/* BODY */
body,
html,
#root {
  width: 100%;
  min-height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;

  /* Curseur visible personnalisé */
  cursor: default;
}

/* Curseur pointer sur éléments cliquables */
a,
button,
.nav-link,
input,
textarea,
iframe {
  cursor: pointer !important;
}

/* Scrollbar personnalisée Ryze */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#1DE5FE, #0bbdd4);
  border-radius: 20px;
  border: 2px solid #050505;
}

::-webkit-scrollbar-thumb:hover {
  background: #1DE5FE;
}

/* Firefox */
html {
  scrollbar-color: #1DE5FE #050505;
  scrollbar-width: thin;
}